html,body
  {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Work Sans', sans-serif;
  }

 .react-datepicker-ignore-onclickoutside {
   border-top: none;
   border-left: none;
   border-right: none;
 }